<div class="container">
  <formio [form]="{
  'components': [
    {
      'label': 'Username',
      'allowMultipleMasks': false,
      'showWordCount': false,
      'showCharCount': false,
      'tableView': true,
      'alwaysEnabled': false,
      'type': 'textfield',
      'input': true,
      'key': 'username',
      'defaultValue': '',
      'validate': {
        'required': true,
        'customMessage': '',
        'json': ''
      },
      'conditional': {
        'show': '',
        'when': '',
        'json': ''
      },
      'widget': {
        'type': ''
      },
      'reorder': false,
      'inputFormat': 'plain',
      'encrypted': false,
      'properties': {},
      'customConditional': '',
      'logic': []
    },
    {
      'label': 'Password',
      'showWordCount': false,
      'showCharCount': false,
      'tableView': true,
      'alwaysEnabled': false,
      'type': 'password',
      'input': true,
      'key': 'password2',
      'defaultValue': '',
      'validate': {
        'required': true,
        'customMessage': '',
        'json': ''
      },
      'conditional': {
        'show': '',
        'when': '',
        'json': ''
      },
      'reorder': false,
      'inputFormat': 'plain',
      'encrypted': false,
      'properties': {},
      'customConditional': '',
      'logic': []
    },
    {
      'type': 'button',
      'label': 'Submit',
      'key': 'submit',
      'disableOnInvalid': true,
      'theme': 'primary',
      'input': true,
      'tableView': true
    }
  ]
}"></formio>

</div>

<ul>
    <li *ngFor="let item of forms | async">
      {{item | json }}
    </li>
  </ul>
