<nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top">
  <a class="navbar-brand" routerLink="/">Simplifier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <!-- <img class="profile-picture" *ngIf="auth.user as user" src={{user.payload.photoURL}}> -->

    <ul class="navbar-nav mr-auto">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <li *ngIf="auth.user as user; else anonymousUser" ngbDropdown class="nav-item dropdown">

        <a ngbDropdownToggle class="nav-link active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{user.payload.displayName}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a ngbDropdownItem class="dropdown-item" routerLink="/builder">Create Form</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="/all">My Forms</a>
          <!-- <a ngbDropdownItem class="dropdown-item" routerLink="/">Users</a> -->
          <a ngbDropdownItem class="dropdown-item" (click)="logOut()">Log Out</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
