<nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top">
  <a class="navbar-brand" routerLink="/">Simplifier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()">Log Out</a>
    </li>

    <ng-template #anonymousUser>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-template>

    <li *ngIf="auth.user as user; else anonymousUser" ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{{user.displayName}}</a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
        <a ngbDropdownItem class="dropdown-item" routerLink="/">Action</a>
        <a ngbDropdownItem class="dropdown-item" routerLink="/">Another action</a>
        <a ngbDropdownItem class="dropdown-item" routerLink="/">Something else here</a>

      </div>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
