<div class="row simply-adjust">
  <div class="col-3 p-0" *ngIf="showSideBar">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Chart Builder<i class="fas fa-times pull-right" (click)="showSideBar = !showSideBar"></i>
        </h5>
        <select class="form-control">
          <option disabled>Chart Type</option>
          <option *ngFor="let item of chartTypes" value="item.value">{{item.title}}</option>
        </select>
        <br>

        <label>Select Columns:</label>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let key of keys">{{key | titlecase}}<input class="pull-right"
              type="checkbox" (change)="generateChartColumnData(key, $event.target.checked)"></li>
        </ul>

        <button class="btn btn-success my-2" (click)="onGenerate()"><i class="fas fa-chart-bar"></i> Generate</button>

      </div>
    </div>
  </div>

  <div [ngClass]="{'col-5': showSideBar == true,
                   'col-6': showSideBar == false}">
    <ng-container *ngIf="noKey">
      <h2>No Form is selected</h2>
    </ng-container>

    <ag-grid-angular *ngIf="!noKey" #agGrid style="width: 100%; height: 500px;" [columnDefs]="gridColumnsDef"
      [rowData]="gridRowData" [defaultColDef]="defaultGridColDef" rowSelection="multiple" class="ag-theme-balham"
      [pagination]=true [enableRangeSelection]="true" (gridReady)="OnReady($event)">
    </ag-grid-angular>

    <button (click)="getNodes()">Get Nodes</button>

    {{ chartColDef | json}}
    {{ chartRowData | json }}
  </div>

  <div [ngClass]="{'col-4': showSideBar == true,
  'col-6': showSideBar == false}">
    <p> For charts</p>
    <button (click)="showChart = !showChart">Toggle</button>
    <google-chart *ngIf="showChart" [type]="'BarChart'" [data]="chartRowData" [columnNames]="chartColDef" [title]="title">
    </google-chart>
  </div>
</div>
