.simply-adjust{
    margin-top: 70px;
    padding: 10px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 50px;
}

.simple-container{
    border-radius: 5px;
    border: 1px solid red;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}

.list-group{
    max-height: 200px;
    overflow: scroll;
    max-width: 100%;
}

/* input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
} */
