<div class="container">
  <a class="btn btn-primary px-3 my-2" [routerLink]="['/builder']">Create Form</a>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of forms | async">
        <td>{{ form.payload.name}}</td>
        <td><a [routerLink]="['/form/', form.key]">Submit</a></td>
        <td><a [routerLink]="['/details', form.payload.key]" >View</a></td>
        <td><i class="far fa-trash-alt" (click)="remove(form)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
